#acceuil {
  /* position: relative;
  background: url("../../assets/bgIMG.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat; */

  // disable the default padding styles
  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  
  flex: 1;
  width: 100%;
  margin-top: 12rem;
  flex-direction: row;
 


 

  @media screen and (max-width: 1200px) {
    margin-top: 0rem;
    height: 80vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
    height: 120vh;
  }
}

.app__header-info {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 400px;

  

  @media screen and (min-width: 1200px) {
    width: 100%;
    margin-right: 0rem;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.cta-text {
  grid-area: img_content;
  letter-spacing: 0.2rem !important;
  margin-top: 7rem;
  text-align: end !important;

}

.cta-button {
  grid-area: dark_content;
  display: flex;
  align-content: center;
  justify-self: center;
  margin-top: 7rem;
  background-color: var(--secondary-color);
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  padding: 0.3rem 0.8rem;
  border-radius: 2rem;
  border-color: white;
  border-width: 2px;
  font-weight: 900;
  cursor: pointer;

  a {
    text-decoration: none;
    cursor: pointer;
    color: var(--dark-color);

    &:hover {
      background-color: var(--ternary-color);
      color: var(--primary-color);
    }
  }

  &:hover {
    background-color: var(--ternary-color);
  }
}


.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    /* background: var(--white-color); */
    background: var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 3rem;

    p {

      width: 100%;
      text-transform: uppercase;
      text-align: right;

    }
  }


  span {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__header-circles {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;



 

  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    div {
      margin: 1rem;
    }
  }
}

.app__header-img {

  justify-content: center;
  align-items: center;
  position: relative;

  img {

    object-fit: contain;
    z-index: 1;
  }

  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 90%;


  }

  @media screen and (min-width: 1200px) {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

  }
}




/* ------------------------------PORTAL--------------------------------ANIMATION-------------------------- */



.background {

  display: flex;
  justify-content: center;
  align-items: center;
}

.animation_container {
  position: absolute;
  width: 400px;
  height: 290px;
  margin: 0 auto;
  display: block;
  animation: fatCircle 1s linear infinite;

  @media screen and (min-width: 1200px) {
    transform: scale(1.7);
  }
}

.circle:nth-child(1) {
  animation-duration: 105s;
}

.circle:nth-child(2) {
  animation-duration: 95s;
}

.circle:nth-child(3) {
  animation-duration: 88s;
}

.circle:nth-child(4) {
  animation-duration: 82s;
}

.circle:nth-child(5) {
  animation-duration: 75s;
}

.circle:nth-child(6) {
  animation-duration: 68s;
}

.circle:nth-child(7) {
  animation-duration: 65s;
}

.circle:nth-child(8) {
  animation-duration: 58s;
}

.circle:nth-child(9) {
  animation-duration: 52s;
}

.circle:nth-child(10) {
  animation-duration: 50s;
}

.circle {


  display: inline-block;
  margin: auto;
  position: absolute;
  left: 1.5rem;
  top: 4rem;
  animation: circle 1s linear infinite;
  will-change: transform;

  @media screen and (min-width: 1200px) {
    position: absolute;
    left: 1rem;
    top: 0;

  }

}

.innerCircle1 {
  display: block;
  margin: auto;
}

.moon {
  z-index: -1;
  height: 12rem;
  transform: translateX(45%)translateY(80%);
  @media screen and (min-width: 1200px) {
    transform: translateX(42%)translateY(50%);
  }


}

@keyframes circle {
  100% {
    transform: rotate(1turn);
  }
}