.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
  height: 90vh;
}



.app__profile-item {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 80px 1fr 1fr 80px;
  grid-template-rows: auto;
  grid-template-areas:
    ". img content.";



  .val-text {
    margin-top: 2rem;
    grid-area: content;
  }


  img {
    width: 80%;
    height: 240px;
    border-radius: 15px;
    object-fit: cover;
    grid-area: img;
  }
}

@media screen and (max-width: 1200px) {


  .app__about {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    height: 80vh;

  }

 

  .app__profile-item {

    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: auto;
    grid-template-areas:
      ". img ."
      ". content .";

    width: 100%;
   
    

    .val-text {
      grid-area: content;
    }

    img {
      margin-top: 2rem;
      
      height: 20rem;
      grid-area: img;
    }


  }
}