.app__about {
  flex: 1;
  margin: 0 auto;
  
  flex-direction: column;
  height: 80vh;
}



.app__profile-item {
  height: 25vh;
  margin-top:2rem ;
 
  border-radius: 10px;
  padding: 2rem;
  display: grid;
  grid-template-columns:  1fr ;
  grid-template-rows: auto;
  grid-template-areas:
    "text_content";



   .val-text {
    margin-top: 2rem;
    grid-area: text_content;
  }


 .img-bg {

    height: 120%;
    
    margin:0 auto ;
   
    padding: 10px;
    border-radius: 15px;
    object-fit: contain;
    
  }  
}

@media screen and (max-width: 1200px) {


  .app__about {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    height: 80vh;

  }

 

  .app__profile-item {

    
   
    

    .val-text {
      grid-area: text_content;
    }

    img {
      margin-top: 2rem;
      
      height: 20rem;
      grid-area: img_content;
    }


  }
}