.app {
  /* background-color: var(--primary-color); */
  background-color: var(--color-bg);
  color: var(--color-bg);
  font-family: var(--font-base);

}

.app__whitebg {
  /* background-color: var(--white-color); */

  background-color: var(--color-bg);
}

.app__primarybg {
  /*  background-color: var(--primary-color); */
  background-color: var(--color-bg);
}

.app__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__grid {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "img_content dark_content";

  border-radius: 10px;
  

}



/* ------------------------------------------------DARK-MODE-------------------------------- */


.dark-panel {
  display: flex;
  flex-direction: row;
  z-index: 1;
  position: fixed;
  padding: 1rem;
  top: 4rem;
  right: 3rem;
  transform: scale(0.5);

  @media screen and (max-width: 900px) {
    position:fixed;
    top: 1rem;
    z-index: 2;
    right: 50%;
    transform: scale(0.4);

  }

  @media screen and (max-width: 400px) {
    
    transform: scale(0.3);

  }


}

.dark-panel-text {

  letter-spacing: 0.2rem !important;

  text-align: end !important;
  color: var(--color-primary) !important;

}

.moon-sun-container {



  border-radius: 25%;
  position: fixed;
  border-style: outset;
  border-width: 2px;
  border-left-color: var(--color-primary);
  border-top-color: var(--color-primary);
  border-right-color: var(--color-ternary);
  border-bottom-color: var(--color-ternary);
  transform: scale(1.5);

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;


}

.moon-sun-container button {
  border: 3px;
  margin-right: 7px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  border-style: hidden;
  background: var(--color-primary);

}

/* hsl(0, 100%, 5%) */
.moon-sun-container .moon {
  background: var(--color-bg);
  border-radius: 100%;
  width: 15px;
  height: 15px;


}

.moon-sun-container .crown {

  background: var(--color-bg);
  border-radius: 100%;
  
 
  width: 30px;
  height: 30px;
 margin-bottom: 7px;

}





/* ------------------------------------------------DARK-MODE-------------------------------- */




.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 2rem 2rem;


}

.copyright {
  width: 100%;
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--color-primary);
  }
}

.head-text {
  /* font-size: 2.75rem; */
  font-size: clamp(1.5rem, 2vw, 2.75rem);
  font-weight: 800;
  text-align: center;
  color: var(--color-primary);
  text-transform: capitalize;
  margin-bottom: 3rem;

  span {
    color: var(--color-secondary);
  }

  /*  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }*/
}

.img-content {
  display: flex;
  align-self: center;
  justify-self: center;
  grid-area: img_content;

  @media screen and (max-width: 1200px) {
    margin-top: 2rem;


    grid-area: img_content;
  }
}

.dark-content {
  grid-area: dark_content;
}

.h-text {
  font-size: clamp(1rem, 1.2vw, 2.75rem);
  text-align: left;
  color: var(--color-primary);


  @media screen and (min-width: 2000px) {}


}

.h1-text {
  font-size: clamp(1.1rem, 4.9vw, 2.5rem);
  text-align: left;
  color: var(--color-primary);




}

.p-text {
  font-size: clamp(0.7rem, 1.2vw, 2.85rem);
  text-align: left;
  color: var(--color-primary);
  line-height: 1.5;


}

.small-p-text {
  font-family: Cantarell;
  font-size: clamp(0.7rem, 1.3vw, 1.4rem);
  text-align: left;
  color: var(--color-white);
  line-height: 1.5;


}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--color-white);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-white);
    margin: 0.25rem 0;
    border: 1px solid var(--color-lightGray);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--color-gray);
    }

    &:hover {
      background-color: var(--color-secondary);
      border-color: var(--color-secondary);

      svg {
        color: var(--color-white);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;
      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}



.app__navigation {

  display: flex;
  flex-direction: column;
  padding-top: 45vh;
  align-self: center;
  position: fixed;



  .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;


    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--color-secondary);
    }

    &.active {
      background-color: var(--color-secondary)
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}